nav {
    display: flex;
    font-size: 30px;
    background: black;
    height: 70px;
    align-items: center;
}
nav h2 {
    font-family: 'Delicious Handrawn', cursive;
    margin-right: auto;
    margin-left: 20px;
    color: white;

}
nav button {
    margin-right: 15px;
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}
/* Questions Page  */
.return {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 0 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #4D5B9E;
    cursor: pointer;
}
.difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.difficulty-buttons {
    margin: 20px;
    /* padding: 10px 30px; */
    border-radius: 15px;
    background: #4D5B9E;
    text-align: center;
    border: none;
    outline: none;
    width: 193px;
    height: 52px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.4s;
    
}
.difficulty-buttons:hover {
    transform: scale(1.05);
   
}

.questions {
    padding: 20px 40px;
}
.question-ind {
    padding: 20px 0;
}
.question-text {
    font-size: 18px;
    font-weight: 500;
}
.answers {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.answer {
    /* flex: 20%; */
    /* max-width: 20%; */
    margin-right: 15px;
    text-align: center;
}
.answer-text {
    border: 1px solid black;
    margin-top: 8px;
    padding: 5px 15px;
    border-radius: 15px;
    color: blue;
    /* background: rgb(75, 74, 74); */
    box-shadow: none;
    transform: none;
    transition: transform 0.3s, box-shadow 0.4s;
    
}
.answer-text-before {
    cursor: pointer;
}
.answer-text-before:hover {
    border: 1px solid rgb(146, 146, 142);
    transform: scale(1.07);
    box-shadow: 0 1px 1px rgb(146, 146, 142);
    
}
.selected {
    background: #D6DBF5;
    border: none;
    /* background-color: red; */
}
.wrong-answer {
    background:#F8BCBC;
    /* background: rgb(199, 2, 2); */
    border: none;
}
.wrong-answers {
    opacity: 0.5;
}
.wrong-answers-2 {
    border: 1px solid rgba(0, 0, 0,0.5);
}
.right-answer {
    background: #94D7A2;
    /* background: rgb(7, 241, 7); */
    border: none;
}
.submit {
    margin: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.ending {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ending p {
    margin-right: 15px;
    font-size: 27px;
}
.pass {
    color:green;
}
.fail {
    color: red;
}

@media screen and (max-width:560px) {
    h1 {
        font-size : 30px;
    }
    .questions {
        padding: 20px 20px;
    }
}