h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}
/* Questions Page  */
.return {
    position: fixed;
    top: 50px;
    left: 50px;
}
.difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.difficulty-buttons {
    margin: 20px;
    /* padding: 10px 30px; */
    border-radius: 15px;
    background: #4D5B9E;
    text-align: center;
    border: none;
    outline: none;
    width: 193px;
    height: 52px;
    font-weight: 500;
    cursor: pointer;
}
.difficulty-buttons:hover {
    transform: scale(1.05);
}

.questions {
    padding: 20px 40px;
}
.question-ind {
    padding: 20px 0;
}
.question-text {
    font-size: 18px;
    font-weight: 500;
}
.answers {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.answer {
    /* flex: 20%; */
    /* max-width: 20%; */
    margin-right: 15px;
    text-align: center;
}
.answer-text {
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 15px;
    color: blue;
    cursor: pointer;
    /* background: rgb(75, 74, 74); */
    transition: all 0.4s;
}
.answer-text:hover {
    border: 1px solid rgb(146, 146, 142);
    transform: scale(1.07);
    box-shadow: 0 1px 1px rgb(146, 146, 142);
}
.submit {
    margin: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width:560px) {
    h1 {
        font-size : 30px;
    }
}