* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background: white;
  color: #293264;
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.dark {
  background: #05060e;
  color: white;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}